cli-deploy-aws/cli-aws-build-demo-flow.json
[
    {
        "id": "main.flow",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "test.flow",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eacbb9ef.69d5c8",
        "type": "EventListener",
        "z": "main.flow",
        "name": "GET /customers/ accounts",
        "provider": "aws",
        "eventSource": "api",
        "dynamodbOperation": "",
        "apiMethod": "get",
        "apiUrl": "/customers/accounts",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "",
        "reference": "",
        "queueName": "",
        "topicName": "",
        "kapiUrl": "",
        "kcronexpression": "",
        "kreference": "",
        "kObjectStoreName": "",
        "zapiUrl": "",
        "napiUrl": "",
        "x": 122.5,
        "y": 100,
        "wires": [
            [
                "5eb3cd61.894f04"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "5eb3cd61.894f04",
        "type": "Logger",
        "z": "main.flow",
        "name": "Log",
        "level": "INFO",
        "message": "Request received from GET /customers/accounts/balance",
        "format": "string",
        "headers": {},
        "x": 312.5,
        "y": 100,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "b5fc6ccd.17dd7",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "responseType": "http",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "",
        "eventPayload": "",
        "eventType": "success",
        "x": 522.5,
        "y": 100,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "b970b7d2.5454c8",
        "type": "Assertion",
        "z": "test.flow",
        "name": "check status 200",
        "selector": "statusCode",
        "property": "hello",
        "comparison": "equals",
        "value": "200",
        "valueType": "str",
        "x": 265,
        "y": 160,
        "wires": [
            [
                "e0721cc7.653eb"
            ]
        ],
        "caname": "test-assertion",
        "category": "testing"
    },
    {
        "id": "e0721cc7.653eb",
        "type": "TestCaseEnd",
        "z": "test.flow",
        "name": "TestCaseEnd",
        "x": 425,
        "y": 160,
        "wires": [],
        "caname": "test-case-end",
        "category": "testing"
    },
    {
        "id": "e8fb91dc.46c24",
        "type": "HTTPTestCase",
        "z": "test.flow",
        "name": "Test GET Accounts",
        "method": "GET",
        "path": "/customers/accounts",
        "headers": {
            "Accept": "application/json"
        },
        "authtype": "none",
        "secUser": "",
        "secPassword": "",
        "secToken": "",
        "payload": "",
        "mocks": [],
        "x": 122.5,
        "y": 160,
        "wires": [
            [
                "b970b7d2.5454c8"
            ]
        ],
        "caname": "http-test-case",
        "category": "testing"
    },
    {
        "id": "713035ce.484a9c",
        "type": "EventListener",
        "z": "main.flow",
        "name": "GET /customers /accounts /balance",
        "provider": "aws",
        "eventSource": "api",
        "dynamodbOperation": "",
        "apiMethod": "get",
        "apiUrl": "/customers/accounts/balance",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "",
        "reference": "",
        "queueName": "",
        "topicName": "",
        "kapiUrl": "",
        "kcronexpression": "",
        "kreference": "",
        "kObjectStoreName": "",
        "zapiUrl": "",
        "x": 125,
        "y": 200,
        "wires": [
            [
                "65ac45dd.a13b2c"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "65ac45dd.a13b2c",
        "type": "Logger",
        "z": "main.flow",
        "name": "Log",
        "level": "INFO",
        "message": "Request received from GET /customers/accounts",
        "format": "string",
        "headers": {},
        "x": 315,
        "y": 200,
        "wires": [
            [
                "fde3edd3.014b3"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "fde3edd3.014b3",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "responseType": "http",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "",
        "eventPayload": "",
        "eventType": "success",
        "x": 525,
        "y": 200,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "b59a785b.f59e18",
        "type": "EventListener",
        "z": "main.flow",
        "name": "cron 1am",
        "provider": "aws",
        "eventSource": "cwevents",
        "dynamodbOperation": "",
        "apiMethod": "get",
        "apiUrl": "/hello",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "",
        "reference": "1am",
        "queueName": "",
        "topicName": "",
        "kapiUrl": "",
        "kcronexpression": "",
        "kreference": "",
        "kObjectStoreName": "",
        "zapiUrl": "",
        "x": 122.5,
        "y": 302,
        "wires": [
            [
                "f019d370.d0ac"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "f019d370.d0ac",
        "type": "Logger",
        "z": "main.flow",
        "name": "Log",
        "level": "INFO",
        "message": "Request received from cron 1am",
        "format": "string",
        "headers": {},
        "x": 312.5,
        "y": 302,
        "wires": [
            [
                "1e8e38b6.fcd487"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "1e8e38b6.fcd487",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "responseType": "http",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "",
        "eventPayload": "",
        "eventType": "success",
        "x": 522.5,
        "y": 302,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "e4bf7c2.6a8178",
        "type": "EventListener",
        "z": "main.flow",
        "name": "cron every 5min",
        "provider": "aws",
        "eventSource": "cwevents",
        "dynamodbOperation": "",
        "apiMethod": "get",
        "apiUrl": "/hello",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "",
        "reference": "5min",
        "queueName": "",
        "topicName": "",
        "kapiUrl": "",
        "kcronexpression": "",
        "kreference": "",
        "kObjectStoreName": "",
        "zapiUrl": "",
        "x": 122.5,
        "y": 400,
        "wires": [
            [
                "2f83c1ff.5f312e"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "2f83c1ff.5f312e",
        "type": "Logger",
        "z": "main.flow",
        "name": "Log",
        "level": "INFO",
        "message": "Request received from cron every 5 min",
        "format": "string",
        "headers": {},
        "x": 312.5,
        "y": 400,
        "wires": [
            [
                "359d1629.74c4da"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "359d1629.74c4da",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "responseType": "http",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "",
        "eventPayload": "",
        "eventType": "success",
        "x": 522.5,
        "y": 400,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    }
]